<div class="navbar-fixed" *ngIf="showMenu">
  <mz-navbar  [navbarClass]="'blue-grey darken-2'">
    <!--<a class="brand-logo center">{{title | uppercase}}</a>-->
    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item>
        <button
          mz-button
          [id]="'btn-sidenav'"
          [flat]="true"
          [float]="true"
          class=" sidenav-button"
          [large]="true">
          <i mz-icon-mdi [size]="'24px'" [icon]="'menu'"></i>
        </button>
      </mz-navbar-item>
    </mz-navbar-item-container>
     <mz-navbar-item-container [align]="'right'" *ngIf="title != 'HOME'">
       <mz-navbar-item>
         <button
           (click)="back()"
           mz-button
           [flat]="true"
           [float]="true"
           [large]="true">
           <i mz-icon-mdi [icon]="'arrow-left'"></i>
         </button>
       </mz-navbar-item>
     </mz-navbar-item-container>
  </mz-navbar>
</div>
