<!--<div style="margin-top: 20px">
  <mz-navbar [navbarClass]="'grey darken-2'">
    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item><a routerLink="graph01">GRAPH - 1</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="graph02">GRAPH - 2</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="graph03">GRAPH - 3</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="graph04">GRAPH - 4</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="graph05">GRAPH - 5</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="graph06">GRAPH - 6</a></mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</div>-->
<router-outlet></router-outlet>
<app-graph01></app-graph01>
