<h4>{{displayValue}}</h4>
<div id="jacsonlinux" class="center" style="margin-top: 20px"></div>
<br/>
<div class = "row">
  <form class = "col s12">
    <label>File Input</label>
    <div class = "file-field input-field">
      <div class = "btn">
        <span>Browse</span>
        <input type = "file" (change)="fileChanged($event)" />
      </div>
      <div class = "file-path-wrapper">
        <input
          class = "file-path validate"
          type = "text"
          placeholder = "Upload file" />
      </div>
    </div>
  </form>
</div>
