<div class="container" *ngIf="showFormLogin; else showSpinner">
  <div id="loginContent">
    <div class="center">
      <img src="../../../assets/icons/icon-72x72.png">
      <h3>Multi<span class="grey-text">Vis</span></h3>
    </div>
    <form [formGroup]="logInForm" novalidate>
      <mz-input-container>
        <button
          mz-button
          [large]="true"
          [float]="false"
          [flat]="false"
          class="blue-grey darken-3"
          (click)="logInGoogle()"
        ><i mz-icon-mdi [icon]="'google'" [align]="'left'"></i>Log in with Google</button>
      </mz-input-container>
      <re-captcha
        theme="dark"
        #captchaRef="reCaptcha"
        siteKey="6LcEB7UUAAAAAOSncdvYL58AYP_nnLa6aI7_8ybY"
        size="invisible"
        (resolved)="$event && onSubmit($event)"
      ></re-captcha>
    </form>
  </div>
</div>
<ng-template #showSpinner>
  <div class="center-jack-container">
    <mz-spinner
      [color]="'blue'"
      [size]="'medium'">
    </mz-spinner>
  </div>
</ng-template>





