<div class="container">
<h4 class="center">Termos de Serviço</h4>
<ol>

    <li><h5>Termos</h5></li>
    Ao acessar o site em https://ufba.salvador.web.app , você concorda em ficar vinculado por estes termos de serviço, todas as leis e regulamentos aplicáveis, e concorda que você é responsável pelo cumprimento das leis locais aplicáveis. Se você não concorda com nenhum desses termos, você está proibido de usar ou acessar este site. Os materiais contidos neste site estão protegidos pela lei aplicável de direitos autorais e marcas registradas.

    <li><h5>Licença de uso</h5></li>
    É concedida permissão para transferir temporariamente uma cópia dos materiais (informações ou software) no site do APP UFBA - Salvador para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título, e sob esta licença você não pode:
    modificar ou copiar os materiais;
    use os materiais para qualquer finalidade comercial, ou para qualquer exibição pública (comercial ou não comercial);
    tentar descompilar ou fazer engenharia reversa de qualquer software contido no site do APP UFBA - Salvador;
    remova quaisquer direitos autorais ou outras notações de propriedade dos materiais; ou
    transfira os materiais para outra pessoa ou "espelhe" os materiais em qualquer outro servidor.
    Esta licença deve terminar automaticamente se você violar qualquer uma dessas restrições e pode ser encerrado pelo APP UFBA - Salvador a qualquer momento. Ao terminar sua visualização desses materiais ou após o término desta licença, você deve destruir todos os materiais baixados em sua posse, seja em formato eletrônico ou impresso.

    <li><h5>Aviso Legal</h5></li>
    Os materiais no site do APP UFBA - Salvador são fornecidos de forma "como está". O APP UFBA - Salvador não faz garantias, expressas ou implícitas, e renuncia e anula todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização, adequação a um propósito específico ou não violação de propriedade intelectual ou outra violação de direitos.
    Além disso, o APP UFBA - Salvador não garante ou faz representações sobre a precisão, os resultados prováveis ​​ou a confiabilidade do uso dos materiais em seu site ou de outra forma relacionados a tais materiais ou em qualquer site vinculado a este site.

    <li><h5>Limitações</h5></li>
    Em nenhum caso o APP UFBA - Salvador ou os seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação, danos por perda de dados ou lucro, ou por interrupção do negócio) decorrentes do uso ou incapacidade de usar os materiais no LAB O site do Controle, mesmo que o APP UFBA - Salvador ou um representante autorizado do APP UFBA - Salvador tenha sido notificado oralmente ou por escrito da possibilidade de tais danos. Como algumas jurisdições não permitem limitações em garantias implícitas ou limitações de responsabilidade por danos conseqüenciais ou incidentais, essas limitações podem não se aplicar a você.

    <li><h5>Precisão dos materiais</h5></li>
    Os materiais que aparecem no site do APP UFBA - Salvador podem incluir erros técnicos, tipográficos ou fotográficos. O APP UFBA - Salvador não garante que nenhum dos materiais do seu site seja exato, completo ou atual. O Controle LAB pode fazer alterações nos materiais contidos em seu site a qualquer momento, sem aviso prévio. No entanto, o APP UFBA - Salvador não faz qualquer compromisso de atualizar os materiais.

    <li><h5>Links</h5></li>
    O APP UFBA - Salvador não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de tal site vinculado. A inclusão de qualquer link não implica endosso pelo APP UFBA - Salvador do site. O uso de qualquer site vinculado é do próprio risco do usuário.

    <li><h5>Modificações</h5></li>
    UFBA - Salvador pode revisar estes termos de serviço para o seu site a qualquer momento sem aviso prévio. Ao usar este site, você concorda em ficar vinculado pela versão atual desses termos de serviço.

    <li><h5>Lei aplicável</h5></li>
    Estes termos e condições são regidos e interpretados de acordo com as leis do Brasil e você se submete irrevogavelmente à jurisdição exclusiva dos tribunais nesse Estado ou local.
  </ol>
</div>
