@import "./_variables";

@import '~angular-calendar/scss/angular-calendar.scss';

/** {
  font-family: Arial, sans-serif
}*/

.preloader-container {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.center-jack-container {
  display: flex;
  min-height: 70vh;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brand-logo{
  font-size: medium !important;
}

.small-text{
  font-size: smaller !important;
}

.large-text {
  font-size: large !important;
}

.text-bold {
  font-weight: bold !important;
}

.dark-theme {
  $bg-dark-primary: #121212;
  $bg-dark-secondary: #272727;
  $bg-dark-ternary: #373737;
  $bg-active: #37474f;
  $text-color: #eceff1;
  $border-color: #455a64;

  @include cal-theme(
      (
        bg-primary: $bg-dark-primary,
        bg-secondary: $bg-dark-secondary,
        weekend-color: indianred,
        bg-active: $bg-active,
        border-color: $border-color,
        gray: $bg-dark-secondary,
        today-bg: $bg-active,
        event-color-primary: $bg-dark-secondary
      )
  );

  .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.15;
  }

  background-color: $bg-dark-primary;
  color: $text-color;

  .card {
    border-color: $border-color;
  }

  .card-header {
    background-color: $bg-dark-secondary;
  }

  .card-body {
    background-color: $bg-dark-primary;
  }

  .nav-tabs {
    border-bottom-color: $border-color;
  }

  .nav-tabs .nav-link.active {
    background-color: $bg-dark-primary;
    color: $text-color;
    border-color: $border-color;
  }

  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    border-color: $border-color;
  }

  nav {
    background: $bg-dark-secondary !important;
  }

  #sidenav {
    background: $bg-dark-secondary !important;
    color: $text-color;
  }

  #sidenav a {
    color: $text-color;
    font-weight: normal;
  }

  #sidenav a i {
    color: grey;
  }

  #sidenav .divider {
    background: $bg-dark-ternary !important;
  }

}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-track {
  border: 1px solid #37474f !important;
}

::-webkit-scrollbar-thumb {
  background: #1e88e5 !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d47a1 !important;
}


///////////////
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: red;
}
.axis-title {
  font-size: 12px;
  fill: none;
  stroke: white;
  stroke-width: 0.5px;
}

/////////////////
.axis--x path {
  //display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
